#h1{
    font-size: -webkit-xxx-large;
    font-family: 黑体;
    color: turquoise;
    margin: 67px;
    font-weight: bolder;
}
#reg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -73px;
    background-color: rgba(240,255,255,0.5);
    border-radius: 15px;
    text-align: center;
} 
#reg h1{    
    color: #fff;   
    font-size: 48px; 
    font-family: 黑体;
    letter-spacing: 5px;    
    text-align: center;  
    display: block;
    margin: 20px;
}   
input{
    width: 185px;
    height: 24px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    border-radius: 8px;
    background-color: rgba(240, 255, 255, 0.5);
}
span{
    color: #217754;
    font-size: 26px;
    font-family: 黑体;
    letter-spacing: -4px;
} 
.button{
    width: 163px;
    min-height: 15px;
    display: block;
    background-color: #26729a;
    border: none;
    color: #fff;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    margin: auto;
    border-radius: 5px;
    font-size: 22px;
    font-family: 黑体;
}

#a1{
    text-decoration: none;
    color: white;
}